<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="jumbotron">
      <div class='event-partials'>
        <%= render 'event_type' %>
        <%= render 'attendee' %>
        <%= render 'month_year' %>
        <%= render 'states' %>
      </div>
      <br>
    </div>
  </div>

  <hr>

  <div class="mastfoot">
    <p>Eventify by <%= link_to "John Moon", 'https://www.linkedin.com/in/jmoon90' %></p>
  </div>
</div>
